/* .container-authcard {
  padding: 20px;
} */

.auth-gradient {
  background: linear-gradient(135deg, #119184 0%, hsl(174 70% 38%) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
